# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django stuff
*.sqlite3
db.sqlite3
logs/
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env